{% extends "base.html" %}

{% block content %}
    <meta charset="UTF-8">
    <h2 align="left">Список профессий</h2>
    {% if list=='ol' %}

        <ol padding-left: 40px>
            {% for item in professions %}
                <li>{{ item }}</li>
            {% endfor %}
        </ol>

    {% elif list=='ul' %}

        <ul padding-left: 40px>
            {% for item in professions %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

    {% else %}

        <p>Вы ввели неверный параметр!</p>

    {% endif %}

{% endblock %}